<link rel="stylesheet" href="/stylesheets/footer.css">
<nav class="navbar sticky-bottom navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Eventall</a>
      <span class="navbar-text">
        Bring the games together.
      </span>
    </div>
    
</nav>

